@model IEnumerable<_0_Hunger.DataBase.restaurant>

@{
    ViewBag.Title = "restaurantlist";
    Layout = "~/Views/Shared/_adminLayout2 .cshtml";
}

<h2>restaurantlist</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["msg"]
    </div>
}﻿

<h2>Index</h2>
<li>@Html.ActionLink("Add Restaurant", "addrestaurant", "admin", new { area = "" }, new { @class = "btn btn-dark" })</li>

<table class="table table-bordered">
    <tr>
        <th>id</th>
        <th>username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>
    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.id</td>
            <td>@emp.username</td>
            <td>@emp.name</td>
            <td>@emp.email</td>
            <td>@emp.phone</td>
            <td>@emp.address</td>
            <td>
                <a class="btn btn-warning" href="/admin/editrestaurant/@emp.id">Edit</a>
                <a class="btn btn-warning" href="/admin/deleterestaurant/@emp.id">Delete</a>
                <!-- Button trigger modal -->

            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="deleteText">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Understood</button>*@
                <form action="#" method="post" id="deleteform">
                    <input class="btn btn-danger" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </div>
</div>
